﻿@model CAXX7V.Models.Employee

@{
    ViewData["Title"] = "New employee";
}

<h2>New employee</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployee" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="ImageFormData" class="control-label"></label>
                <input asp-for="ImageFormData" class="form-control custom-file-input" />
                <span asp-validation-for="ImageFormData" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Employees">Back to employees</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
