﻿@model CAXX7V.Models.ToDo
@{ 
    var employees = ViewData["employees"] as IEnumerable<Employee>;
} 

@{
    ViewData["Title"] = "New ToDo";
}

<h2>New ToDo</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateToDo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" class="form-control" />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <select name="employeeid">
                    @foreach (var item in employees)
                    {
                        <option value="@item.EmployeeID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ToDos">Back to todos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
