﻿@model IEnumerable<CAXX7V.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

<p>
    <a asp-action="CreateEmployee">New employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageData != null)
                    {
                        <img src="@Url.Action("GetImageData","Home", new { serviceid = item.EmployeeID })" width="40" />
                    }
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
