﻿@model IEnumerable<CAXX7V.Models.ToDo>
@{
    var groups = from x in Model
                 orderby x.Wage ascending
                 group x by x.Employee into g
                 select g;
}


@{
    ViewData["Title"] = "ToDos";
}

<h2>ToDos</h2>

<p>
    <a asp-action="CreateToDo">New ToDo</a>
</p>

@foreach (var group in groups)
{
    @if (group.Key.ImageData != null)
    {
        <img src="@Url.Action("GetImageData","Home", new { serviceid = group.Key.EmployeeID })" width="100" />
    }
    <h3>@group.Key.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in group)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wage)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}